<html>
    <head>
        <title>Welcome to {{ http_host }} !</title>
    </head>
    <body>
        <h1>Success! The {{ http_host }} virtual host is working!</h1>
        <h1>https://www.youtube.com/watch?v=dQw4w9WgXcQ<h1>
    </body>
</html>
